<a href="https://colab.research.google.com/github/wurabucknor/base-repo/blob/master/cleaningDatainPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df= pd.read_csv('criketdatamatch.csv')
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
63,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
64,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
65,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
66,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [ ]:
df = df.rename(columns = {'Mat':'Matches','NO':'Not_Outs','HS':'Highest_Inns_score','BF':'Balls_Faced','SR':'Battling_Stike'})
df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6

In [ ]:
df.isnull().any()

Player                False
Span                  False
Matches               False
Inns                  False
Not_Outs              False
Runs                  False
Highest_Inns_score    False
Ave                   False
Balls_Faced            True
Battling_Stike        False
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

**Show me the roles where there is null values in Balls_face**

In [ ]:
df[df['Balls_Faced'].isnull()]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258+,2
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107+,11
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,0.0,5,6,3,51+,0

**Fill the null calues with zero**

In [ ]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

Check if null still exit in one of the roles

In [ ]:
df[df['Player'] == 'CL Walcott (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.0,15,14,1,107+,11

Drop duplicates

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
62    False
63    False
64    False
65    False
66    False
Length: 67, dtype: bool

In [ ]:
df.duplicated().sum()

4

In [ ]:
df.duplicated().any()

True

In [ ]:
df.duplicated().value_counts()

False    63
True      4
Name: count, dtype: int64

In [ ]:
#drop duplicates
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
62    False
63    False
64    False
65    False
66    False
Length: 67, dtype: bool

In [ ]:
df[df['Player'].duplicated()==1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
23,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65+,1
26,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16
42,JE Root (ENG),2012-2024,149,272,22,12754,262,51.01,22306,57.17,35,64,12,1364,44

In [ ]:
#tO CHECK ALL THE DUPLICATES USING THE VALUES

In [ ]:
df[df['Player'].isin(['GS Sobers (WI)','CA Davis(WI)','GS Chappell (AUS)','JE Root (ENG)	'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
25,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16
26,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16

In [ ]:
df = df.drop_duplicates()
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
63,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
64,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
65,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
66,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [ ]:
df['Span']

0     1928-1948
1     2015-2016
2     1963-1970
3     1930-1954
4     1924-1935
        ...
62    1965-1981
63    2002-2014
64    1924-1934
65    1930-1938
66    1928-1934
Name: Span, Length: 63, dtype: object

In [ ]:
df.dtypes

Player                 object
Span                   object
Matches                 int64
Inns                    int64
Not_Outs                int64
Runs                    int64
Highest_Inns_score     object
Ave                   float64
Balls_Faced            object
Battling_Stike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
dtype: object

In [ ]:
#SPLIT UP Span into start and end date
df['Span']

0     1928-1948
1     2015-2016
2     1963-1970
3     1930-1954
4     1924-1935
        ...
62    1965-1981
63    2002-2014
64    1924-1934
65    1930-1938
66    1928-1934
Name: Span, Length: 63, dtype: object

In [ ]:
df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2015, 2016]
2     [1963, 1970]
3     [1930, 1954]
4     [1924, 1935]
          ...
62    [1965, 1981]
63    [2002, 2014]
64    [1924, 1934]
65    [1930, 1938]
66    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [ ]:
#create new column rookie year and store thr first data of the span column
df['Rookie_year'] = df['Span']. str.split(pat = '-').str[0]

In [ ]:
#create a new coliumn final year and store the second data of the span column
df['Final_year'] = df['Span']. str.split(pat = '-').str[1]
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s,Rookie_year,Final_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
63,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
64,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
65,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
66,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [ ]:
#drop the Span column since we donot need it again
df = df.drop(columns = ['Span'], axis = 1)

In [ ]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s,Rookie_year,Final_year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935

In [ ]:
df['Player'].str.split(pat = '(')

0      [DG Bradman , AUS)]
1        [AC Voges , AUS)]
2       [RG Pollock , SA)]
3       [GA Headley , WI)]
4     [H Sutcliffe , ENG)]
              ...
62     [KD Walters , AUS)]
63    [GC Smith , ICC/SA)]
64    [WH Ponsford , AUS)]
65      [SJ McCabe , AUS)]
66     [DR Jardine , ENG)]
Name: Player, Length: 63, dtype: object

In [ ]:
#Create a new column and split the first data
df['Players_name'] = df['Player'].str.split(pat = '(').str[0]
df['Players_name']

0      DG Bradman
1        AC Voges
2      RG Pollock
3      GA Headley
4     H Sutcliffe
          ...
62     KD Walters
63       GC Smith
64    WH Ponsford
65      SJ McCabe
66     DR Jardine
Name: Players_name, Length: 63, dtype: object

In [ ]:
#Create a new column and split the first data
df['Players_country'] = df['Player'].str.split(pat = '(').str[1]
df['Players_country']

0        AUS)
1        AUS)
2         SA)
3         WI)
4        ENG)
       ...
62       AUS)
63    ICC/SA)
64       AUS)
65       AUS)
66       ENG)
Name: Players_country, Length: 63, dtype: object

In [ ]:
df['Players_country'] = df['Players_country'].str.split(pat = ')').str[0]
df['Players_country']

0        AUS
1        AUS
2         SA
3         WI
4        ENG
       ...
62       AUS
63    ICC/SA
64       AUS
65       AUS
66       ENG
Name: Players_country, Length: 63, dtype: object

In [ ]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s,Rookie_year,Final_year,Players_name,Players_country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,GA Headley,WI
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935,H Sutcliffe,ENG

In [ ]:
df.drop(columns = ['Player'])

,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s,Rookie_year,Final_year,Players_name,Players_country
0,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS
1,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS
2,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA
3,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,GA Headley,WI
4,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935,H Sutcliffe,ENG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,KD Walters,AUS
63,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA
64,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,WH Ponsford,AUS
65,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,SJ McCabe,AUS
66,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,DR Jardine,ENG

In [ ]:
df.dtypes

Player                 object
Matches                 int64
Inns                    int64
Not_Outs                int64
Runs                    int64
Highest_Inns_score     object
Ave                   float64
Balls_Faced            object
Battling_Stike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_year            object
Final_year             object
Players_name           object
Players_country        object
dtype: object

In [ ]:
df['Highest_Inns_score'].str.split(pat = '*').str[0]

0     334
1     269
2     274
3     270
4     194
     ...
62    250
63    277
64    266
65    232
66    127
Name: Highest_Inns_score, Length: 63, dtype: object

In [ ]:
df['Highest_Inns_score'] = df['Highest_Inns_score'].str.split(pat = '*').str[0]
df['Highest_Inns_score']

0     334
1     269
2     274
3     270
4     194
     ...
62    250
63    277
64    266
65    232
66    127
Name: Highest_Inns_score, Length: 63, dtype: object

In [ ]:
#change the Highest_Inns_Score data types
df['Highest_Inns_score'] = df['Highest_Inns_score'].astype('int')
df.dtypes

Player                 object
Matches                 int64
Inns                    int64
Not_Outs                int64
Runs                    int64
Highest_Inns_score      int64
Ave                   float64
Balls_Faced            object
Battling_Stike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_year            object
Final_year             object
Players_name           object
Players_country        object
dtype: object

In [ ]:
df = df.astype({'Rookie_year':'int','Final_year':'int'})
df.dtypes

Player                 object
Matches                 int64
Inns                    int64
Not_Outs                int64
Runs                    int64
Highest_Inns_score      int64
Ave                   float64
Balls_Faced            object
Battling_Stike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_year             int64
Final_year              int64
Players_name           object
Players_country        object
dtype: object

In [ ]:
#split Ball_faced column
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat = '+').str[0]

In [ ]:
df['Balls_Faced']

0      9800
1      2667
2      1707
3       416
4      6558
      ...
62     8662
63    15525
64     3118
65     3217
66     2110
Name: Balls_Faced, Length: 63, dtype: object

In [ ]:
df.isnull().sum()

Player                0
Matches               0
Inns                  0
Not_Outs              0
Runs                  0
Highest_Inns_score    0
Ave                   0
Balls_Faced           3
Battling_Stike        0
100                   0
50                    0
0                     0
4s                    0
6s                    0
Rookie_year           0
Final_year            0
Players_name          0
Players_country       0
dtype: int64

In [ ]:
df[df['Balls_Faced'].isna()==1]

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s,Rookie_year,Final_year,Players_name,Players_country
8,ED Weekes (WI),48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258+,2,1948,1958,ED Weekes,WI
17,CL Walcott (WI),44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107+,11,1948,1960,CL Walcott,WI
58,Hon.FS Jackson (ENG),20,33,4,1415,144,48.79,NaN,0.0,5,6,3,51+,0,1893,1905,Hon.FS Jackson,ENG

In [ ]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [ ]:
df[df['Balls_Faced'].isna()==1]

Empty DataFrame
Columns: [Player, Matches, Inns, Not_Outs, Runs, Highest_Inns_score, Ave, Balls_Faced, Battling_Stike, 100, 50, 0, 4s, 6s, Rookie_year, Final_year, Players_name, Players_country]
Index: []

In [ ]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')

In [ ]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s,Rookie_year,Final_year,Players_name,Players_country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA
3,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,GA Headley,WI
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,H Sutcliffe,ENG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,KD Walters,AUS
63,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA
64,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,WH Ponsford,AUS
65,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,SJ McCabe,AUS
66,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,DR Jardine,ENG

In [ ]:
df.dtypes

Player                 object
Matches                 int64
Inns                    int64
Not_Outs                int64
Runs                    int64
Highest_Inns_score      int64
Ave                   float64
Balls_Faced             int64
Battling_Stike        float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Rookie_year             int64
Final_year              int64
Players_name           object
Players_country        object
dtype: object

In [ ]:
#Calculate career length
df['career_length'] = df['Final_year'] - df['Rookie_year']
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s,Rookie_year,Final_year,Players_name,Players_country,career_length
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS,20
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS,1
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA,7
3,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,GA Headley,WI,24
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,H Sutcliffe,ENG,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,KD Walters,AUS,16
63,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA,12
64,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,WH Ponsford,AUS,10
65,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,SJ McCabe,AUS,8
66,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,DR Jardine,ENG,6

In [ ]:
#Average career length for the player

In [ ]:
df['career_length'].mean()

12.968253968253968

In [ ]:
#Average battling strike rate for player who played over 10 years
df['career-over-10years'] = df[df['career_length'] > 10]['Battling_Stike']
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Battling_Stike,100,50,0,4s,6s,Rookie_year,Final_year,Players_name,Players_country,career_length,career-over-10years
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,DG Bradman,AUS,20,58.60
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AC Voges,AUS,1,NaN
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,RG Pollock,SA,7,NaN
3,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,GA Headley,WI,24,56.00
4,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,H Sutcliffe,ENG,11,34.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,KD Walters,AUS,16,49.16
63,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,GC Smith,ICC/SA,12,59.67
64,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,WH Ponsford,AUS,10,NaN
65,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,SJ McCabe,AUS,8,NaN
66,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,DR Jardine,ENG,6,NaN

In [ ]:

df[df['career_length'] > 10]['Battling_Stike'].mean()

47.966818181818184

In [ ]:
#find number of players who played before 1960
df[df['Rookie_year']< 1960] ['Players_name'].count()

23

In [ ]:
#max highest inn score by country
df.groupby('Players_country')['Highest_Inns_score'].max()

Players_country
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        254
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: Highest_Inns_score, dtype: int64